<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd "
	xmlns:tx="http://www.springframework.org/schema/tx">
	
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/haoshi_db">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="123456"></property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>entity/Cart.hbm.xml</value>
				<value>entity/Food.hbm.xml</value>
				<value>entity/Foodcate.hbm.xml</value>
				<value>entity/Order.hbm.xml</value>
				<value>entity/Restaurant.hbm.xml</value>
				<value>entity/Table.hbm.xml</value>
				<value>entity/User.hbm.xml</value>
				<value>entity/Userrole.hbm.xml</value>
			</list>
		</property>
		</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	
	<bean id="UserDAO" class="dao.UserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserBiz" class="biz.UserBizImpl">
		<property name="userDao" >
			<ref bean="UserDAO"></ref>
		</property>
	</bean>
	<bean id="UserAction" class="action.UserAction">
		<property name="userBiz" >
			<ref bean="UserBiz"></ref>
		</property>
		<property name="userroleBiz" >
			<ref bean="UserRoleBiz"></ref>
		</property>
		<property name="restaurantBiz" >
			<ref bean="RestaurantBiz"></ref>
		</property>
		<property name="orderBiz" >
			<ref bean="OrderBiz"></ref>
		</property>
	</bean>
	
	<bean id="UserroleDAO" class="dao.UserroleDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserRoleBiz" class="biz.UserRoleBizImpl">
		<property name="userroleDao" >
			<ref bean="UserroleDAO"></ref>
		</property>
	</bean>
	
	
	<bean id="RestaurantDAO" class="dao.RestaurantDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="RestaurantBiz" class="biz.RestaurantBizImpl">
		<property name="restaurantDao" >
			<ref bean="RestaurantDAO"></ref>
		</property>
	</bean>
	
	<bean id="FoodcateDAO" class="dao.FoodcateDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="FoodcateBiz" class="biz.FoodCateBizImpl">
		<property name="foodcateDao" >
			<ref bean="FoodcateDAO"></ref>
		</property>
	</bean>
	<bean id="FoodcateAction" class="action.FoodCateAction">
		<property name="foodcateBiz" >
			<ref bean="FoodcateBiz"></ref>
		</property>
		<property name="foodBiz" >
			<ref bean="FoodBiz"></ref>
		</property>
	</bean>
	
	<bean id="OrderDAO" class="dao.OrderDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean><bean id="OrderBiz" class="biz.OrderBizImpl">
		<property name="orderDao" >
			<ref bean="OrderDAO"></ref>
		</property>
	</bean>
	<bean id="OrderAction" class="action.OrderAction">
		<property name="orderBiz" >
			<ref bean="OrderBiz"></ref>
		</property>
	</bean>
	
	
	<bean id="TableDAO" class="dao.TableDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TableBiz" class="biz.TableBizImpl">
		<property name="tableDao" >
			<ref bean="TableDAO"></ref>
		</property>
	</bean>
	<bean id="TableAction" class="action.CartAction">
		<property name="tableBiz" >
			<ref bean="TableBiz"></ref>
		</property>
	</bean>
	
	<bean id="CartDAO" class="dao.CartDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CartBiz" class="biz.CartBizImpl">
		<property name="cartDao" >
			<ref bean="CartDAO"></ref>
		</property>
	</bean>
	<bean id="CartAction" class="action.CartAction">
		<property name="cartBiz" >
			<ref bean="CartBiz"></ref>
		</property>
		<property name="foodbiz" >
			<ref bean="FoodBiz"></ref>
		</property>
		<property name="tableBiz" >
			<ref bean="TableBiz"></ref>
		</property>
		<property name="foodcateBiz" >
			<ref bean="FoodcateBiz"></ref>
		</property>
		<property name="orderBiz" >
			<ref bean="OrderBiz"></ref>
		</property>
	</bean>
	
	
	<bean id="FoodDAO" class="dao.FoodDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="FoodBiz" class="biz.FoodBizImpl">
		<property name="foodDao" >
			<ref bean="FoodDAO"></ref>
		</property>
	</bean>
	<bean id="FoodAction" class="action.FoodAction">
		<property name="foodBiz" >
			<ref bean="FoodBiz"></ref>
		</property>
		<property name="foodcateBiz" >
			<ref bean="FoodcateBiz"></ref>
		</property>
	</bean>
	</beans>